<div class="container">
    <div  class="border aparecer">

        <h2>
            <span>¡Descubre el futuro con el nuevo InfinitiMobile!</span>
            <br>
            <br>
            
            <span>Sumérgete en la tecnología de vanguardia con nuestro revolucionario InfinitiMobile, un smartphone que desafía los límites de lo posible. Diseñado para aquellos que buscan lo mejor de la vida, este elegante dispositivo fusiona una belleza sin igual con un rendimiento incomparable.</span>
                 <br>
                 <br>
           
            <span>
                Potencia inigualable:
                Experimenta un rendimiento extraordinario con el procesador Octa-Core ultrarrápido y 8 GB de RAM. ¡Nunca más te preocuparás por la lentitud! Ejecuta múltiples aplicaciones sin esfuerzo y disfruta de un rendimiento suave y fluido en cada tarea.
            </span>
            <br>
            <br>
            
            <span>
                Cámara profesional:
                Captura momentos inolvidables con la cámara trasera cuádruple de 64 MP. Desde impresionantes paisajes hasta retratos detallados, cada foto será una obra maestra. La cámara frontal de 32 MP es perfecta para selfies con una claridad asombrosa. Además, las capacidades de grabación en 4K aseguran que puedas capturar cada detalle con precisión cinematográfica.
                </span>
            <br>
            <br>
            
                <span>
                    Almacenamiento infinito:
                    Con 256 GB de almacenamiento interno, tendrás espacio de sobra para tus fotos, videos, aplicaciones y más. Libera tu creatividad y guarda todo lo que amas sin preocuparte por quedarte sin espacio.
            </span>
            <br>
            <br>
            <span>
                Duración de la batería excepcional:
                La potente batería de 5000 mAh te mantendrá conectado durante todo el día. Olvídate de los cargadores y disfruta de tu InfinitiMobile sin límites. </span>
            <br>
            <br>
            <span>
                Conexión sin fronteras:
                Navega por la web y descarga contenido a velocidades asombrosas con la tecnología 5G integrada. La conectividad Wi-Fi 6 garantiza una conexión estable incluso en entornos congestionados. </span>
            <br>
            <br>
            <span>
                Seguridad de vanguardia:
                Protege tus datos y privacidad con el avanzado escáner de huellas dactilares y el reconocimiento facial. Tu seguridad es nuestra prioridad número uno. </span>
            <br>
            <br>
            <span>
                ¿Listo para ser parte del futuro? El InfinitiMobile te espera con infinitas posibilidades. No esperes más y sé el primero en experimentar la próxima generación de la tecnología móvil. </span>
            <br>
            <br>
            <span>
                ¡Adquiere tu InfinitiMobile ahora y descubre una nueva era de emociones tecnológicas! </span>
            <br>
            <br>
            
        
        
        </h2>
        <br>
        <br>
        <br>
        <br>
      
    
          
   
    

    </div>
</div>

       

    
