<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
<body>
  


  <div class="container">
    <div class="border">

      <div class="menu">
        <h2 class="fuente1"   (click)="mostrarInfoSobreMi()" >{{ titulo }}</h2>
   

      </div>
      <app-background></app-background>
      <app-loading></app-loading>
  
    
      <app-inicio *ngIf="mostrarInicio"></app-inicio> 
      <app-sobre-mi *ngIf="mostrarSobreMi"></app-sobre-mi> 

      <footer>
        <div >
          <h5>©2023 Eduardo Céspedes</h5>
        </div>
</footer>
 

    </div>
    
  </div>


  <app-loading></app-loading>
</body>